#pagina{
    margin: 1% 20% 0% 20%;
    padding: 0px 0px 0px 0px;
}

#menu{
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.separatore
{
    max-width: 850px;
}
.menuLeft{
    float: left;
    min-width: 100px;
    padding: 0px 5px 0px 5px;
    font-size: 20px;
}

#menuArea
{
    width: 700px;
    height: 34px;
    border-width: 2px 0px 2px 0px;
}
#menuArea .menuItem
{
    float: right;
    height: 18px;
    padding: 8px 20px 8px 20px; 
    border-width: 0px 2px 0px 2px;
}

.menuRight a{
    padding-right: 30px;
    min-width: 100px;
}

#container{
    min-height: 300px;
    max-width: 850px;
    width: 100%;
}

.contenitore{
    float: right;
    width: 60%;
}

.foto{
    float: left;
    max-width: 210px;
    max-height: 400px;
}

.foto img{
    max-width: 300px;
}

#calBox{
    
}

.dati{
    float: left;
    margin: 0px 60px 0px 0px;
    padding: 0px 0px 0px 40px;
    width: 330px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; 
}

p .data{
    float: left;
    width: 10px;
}


.risultato{
    float: left;
    background-color: rgb(180, 180, 38);
    margin: 0px 60 0px 0px;
    padding: 0px 0px 0px 40px;
    width: 280px;
    height: 230px;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}


input{
    margin-left: 15px;
}

button{
    margin-left: 20px;
    width: 200px;
    background-color: rgb(180, 180, 38);
    font-size: 14px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;

}